html body #health-weight {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.mdl-card__title-text {
  font-size: 30px;
}

.mdl-card__supporting-text {
  font-size: 15px;
}

.no-menu {
  padding-left: 40px;
}

.charttitle {
  font-size: 35px;
  font-weight: 200;
}

.idsystem {
  font-size: 12px;
  font-style: italic;
  color: #ddd;
}

.cirg-logo-container {
  display: flex;
  align: center;
  /*align-content: middle;*/
  justify-content: space-around;
  width: 100%;
}

.app-title {
  color: rgb(51, 0, 111);
  font-size: 50px;
  padding-left: 100px;
  font-weight: 300;
  /*align-content: middle;*/
  vertical-align: middle;
}

.cirg-logo {
  display: flex;
  align-self: center;
  /*width 300px;*/
  height: 60px;
  align-content: center;
  justify-content: center;
  line-height: 60px;
}

.mdl-layout__header {
  background-color: white;
}
