/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* custom */
html body #health-weight {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.mdl-card__title-text {
  font-size: 24px;
}

.mdl-card__title {
  padding: 10px;
}

.mdl-card__supporting-text {
  font-size: 18px;
  padding: 10px;
  padding-top: 0px;
  width: auto;
}

.no-menu {
  padding-left: 40px;
}

.charttitle {
  font-size: 24px;
  font-weight: 200;
}

.cirg-row {
  display: flex;
  justify-content: space-between;
}

.buttons {
  padding-left: 10px;
}

.idsystem {
  font-size: 12px;
  font-style: italic;
  color: #ddd;
}

#caps {
  text-transform: capitalize;
}

.id-list {
  list-style-type: none;
}

#identifiers {
  padding: 5px;
}

#cirg-header {
  display: flex !important;
  min-height: 65px !important;
}

#char-container-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chart-container {
  width: 90%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.cirg-card {
  min-height: 80px !important;
}

.cirg-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#tabs-header {
  height: 48px;
}

.cirg-tab-header {
  height: 100%;
  /*height: 48px !important;*/
  background-color: rgb(51, 0, 111);
}

.mdl-layout__tab is-active {
  border-bottom-color: white;
}

.cirg-tab-panel {
  padding-top: 10px;
}

.app-title {
  color: black;
  font-size: 30px;
  font-weight: 300;
  vertical-align: middle;
}

.cirg-logo {
  display: flex;
  align-self: center;
  height: 60px;
  align-content: center;
  justify-content: center;
  line-height: 60px;
  width: 100%;
  justify-content: space-around;
}

.mdl-layout__header {
  background-color: white;
}
